.container-fluid {
  padding: 0px 0px !important;
}

.container-box {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
}

#banner {
  margin-bottom: 50px;
}

#banner div {
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 75vh;
  width: 100%;
  background-image: url("../images/test-img-1.png");
  background-size: cover;
  background-position: center;
  text-align: center;
  background-color: rgba(36, 78, 130, 0.337); /* 0.5 opacity ile kırmızı renk */
  background-blend-mode: multiply; /* Karışım modu */
}

#banner div h3 {
  font-size: 74px;
  font-weight: 900;
  color: white;
}

@media (max-width: 580px) {
  #banner div h3 {
    font-size: 30px;
  }
}
