:root {
  --dark-blue: #0b2341;
  --gray: #cfcfcf;
  --white: #ffffff;
  --red: #e83e4d;
  --blue: #264b80;
}
/* cart-3-------------------------------------------------------------------- */
.carts-4 {
  margin: 80px auto;
  text-align: center;
  background-color: var(--white);
  height: 20rem;
  width: 16rem !important;
  display: flex;
  position: relative;
  border-radius: 12%;
  justify-content: center;
  -webkit-box-shadow: -30px 48px 38px -11px rgba(184, 184, 184, 0.95);
  -moz-box-shadow: -30px 48px 38px -11px rgba(184, 184, 184, 0.95);
  box-shadow: -30px 48px 38px -11px rgba(184, 184, 184, 0.95);
  transition: all 0.5s;
}

.cart-bottom-box {
  position: absolute;
  background-color: var(--blue);
  height: 12px;
  width: 80px;
  border-radius: 15px 15px 0 0;
  bottom: 0;
}

#carts-row {
  column-gap: 25px;
}

#cart-3title {
  margin-top: 40px;
  display: flex;
  text-align: center;
}

#cart-3title h1 {
  font-size: 20pt;
  font-weight: bold;
  color: var(--blue);
}

#cart-3title h3 {
  font-size: 18pt;
  font-weight: 600;
  color: var(--blue);
  margin-bottom: 100px;
}

.line {
  position: absolute;
  background-color: var(--blue);
  width: 80%;
  height: 3px;
  top: 186px;
}

.carts-4:hover {
  transform: translate(0, -50px);

  box-shadow: -30px 48px 38px -11px rgba(210, 210, 210, 0.95);
}

.carts-4 img {
  top: -20px;
  position: absolute;
  width: 125px;
}

.carts-4 h1 {
  font-size: 22pt;
  font-weight: 400;
  position: absolute;
  top: -5px;
  color: var(--white);
}

.carts-4 i {
  top: 60px;
  position: absolute;
  color: #264b80;
  font-size: 80px;
}

.carts-4 h3 {
  position: absolute;
  top: 150px;
  font-size: 10pt;
  font-weight: bold;
  color: var(--blue);
  padding-bottom: 9 px;
}
#carts-4-p {
  padding: 10px 20px;
  position: absolute;
  top: 175px;
  color: var(--blue);
  margin: 8px 0px;
  font-size: 8pt;
  font-weight: 500;
}

/* ! */
.title-b {
  padding: 40px 0;
  max-height: 300px !important;
  background-color: #264b80;
  text-align: center;
  border-top: 25px solid rgb(255, 255, 255);
  border-bottom: 25px solid rgb(255, 255, 255);
}

#title-h {
  margin-top: 0px;
  color: var(--white);

  font-weight: 900;
}

#title-h {
  color: var(--white);
  font-size: 20pt;
  font-weight: bold;
}

.title-b button {
  color: var(--white);
  background-color: var(--red);
  border: none;
  font-size: 12pt;
  font-weight: 500;
  padding: 10px 35px;
  margin-top: 40px;
  transition: all 0.5s;
}

.title-b button:hover {
  color: var(--red);
  background-color: var(--blue);
  border: 1px solid var(--red);
}

#title-b {
  font-size: 13pt;
  font-weight: 500;
  margin: 0px auto;
  color: var(--white);
}
/* ! */

/* cart-3-------------------------------------------------------------------- */
/* cart-4-------------------------------------------------------------------- */

.carts-3 {
  background-color: #e5eaf0;
  padding: 1px 10%;
}

.carts-3 h1 {
  color: var(--blue);
  margin-top: 50px;
  font-weight: bold;
  font-size: 20pt;
  text-align: center;
}
.carts-3 h3 {
  color: var(--blue);
  margin-top: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

#little-title {
  padding: 0 70px;
  font-weight: 500;
  font-size: 10pt;
  margin-bottom: 70px;
}

.grid-container {
  display: grid;
  background-color: #e5eaf0;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  gap: 20px !important;
  padding: 0 250px 70px 250px;
}

.card-4-box {
  position: relative;
  padding-top: 30px;
  text-align: center;
  background-color: var(--blue);
  height: 200px;
  width: 250px;
  -webkit-box-shadow: 10px -10px 0px -1px rgba(161, 161, 161, 1);
  -moz-box-shadow: 10px -10px 0px -1px rgba(161, 161, 161, 1);
  box-shadow: 10px -10px 0px -1px rgba(161, 161, 161, 1);
  transition: all 0.2s;
}

.card-4-box:hover {
  background-color: var(--red);
  transform: translate(0px, -15px);
  box-shadow: none;
}

.card-4-box h3 {
  color: var(--white);
  font-weight: 500;
  font-size: 25px;
  margin: auto;
}

.icon-4-box {
  position: absolute;
  left: 40%;
  bottom: 10px;
}

.icon-4-box i {
  margin-top: 555px;
  font-size: 50px;
  color: var(--white);
}
/* cart-4-------------------------------------------------------------------- */

.title-c {
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 275px;
  width: 100%;
  margin: 30px 0;
  background-image: url("../images/test-img-1.png");
  background-size: cover;
  background-position: center;
  text-align: center;
  background-color: rgba(232, 62, 77, 0.9); /* 0.5 opacity ile kırmızı renk */
  background-blend-mode: multiply; /* Karışım modu */
}

.title-c h3 {
  font-size: 15pt;
  font-weight: 600;
}

#title-h2 {
  color: var(--white);
  margin-bottom: 50px;
  font-size: 25pt;
  font-weight: bold;
}
