:root {
  --dark-blue: #0b2341;
  --gray: #cfcfcf;
  --white: #ffffff;
  --red: #e83e4d;
  --blue: #264b80;
}

.navbar {
  background-color: var(--white);
  padding: 30px !important;
}

.active {
  color: var(--red) !important;
}

.active:hover {
  color: var(--dark-blue) !important;
}

.gap li a {
  padding: 18px 18px !important;
}

.icon-search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  border-right: none !important;
  transition: all 0.5s;
  cursor: pointer;
}

.icon-search:hover {
  color: var(--red);
}

.navbar ul li a {
  display: flex;
  font-size: 10pt;
  font-weight: 600;
  color: var(--dark-blue);
  transition: all 0.4s;
  white-space: nowrap;
  padding: 20px 2.7%;
}
.navbar ul li {
  border-right: 1px solid #ababab;
}

.navbar ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar ul li a:hover {
  color: var(--red);
}

.navbar ul li i {
  font-size: 35px;
  font-weight: 600;
  width: auto;
  text-align: center;
}

.collapse {
  display: flex;
  justify-content: center;
}

.nav-img img {
  display: flex;
  height: 40px;
}

@media (max-width: 991px) {
  .navbar ul li {
    border-right: none;
  }

  .icon-search {
    display: none;
  }
}

@media (max-width: 1380px) {
  .navbar ul li a {
    font-size: 14px;
  }

  .bx-search-alt-2 {
    font-size: 20px !important;
  }

  .container-fluid img {
    height: 40px;
  }
}

@media (max-width: 425px) {
  .container-fluid img {
    height: 35px;
  }
}
